body{
    font-family: var(--font-family-header);
    background-color: var(--color-background-page);
}
header{
    font-family: var(--font-family-header);
    background-color: var(--color-background-header);
    color: var(--color-text-inverted);

}
header a{
    color: var(--color-link-inverted);
}
body > section{
}
h1{
    font-size: var(--size-type-xxlarge);
    font-style: oblique;
    line-height: 1;
    font-weight: var(--font-weight-bold);
}
h2{
    font-size: var(--size-type-large);
    fontweight: var(--font-weight-bold);
}
h3{
    font-size: var(--size-type-mlarge)
}
ul{
    font-size: var(--size-type-body);
}
a:link{
    color: var(--color-link);
}
